/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,500;1,500&display=swap');

.raleway-secondary {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* main style */
body{
    margin: 0;
    padding: 0;
    font-family: "Quicksand", serif;
}

header{
    margin-top: 1.25rem;
}
.logo span{
    font-size: 2rem;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    text-decoration: none;
    font-size: 1.25rem;
}
ul{
    padding-left: 0;
}
ul.flex{
    gap: 2rem;
}
.nav-button{
    background: rgb(254,163,1);
}
/* banner */
.banner-container{
    gap: 3rem;
}

.banner-description h2{
    font-size: 3.5rem;
    margin: 0;
}
.banner-description{
    font-size: 1.25rem;
}
.banner-description button{
    background: black;
}



@media screen and (max-width:576px){
    header{
        border: 0.5px solid rgb(254,163,1);
        margin: 0;
    }
    nav,.banner-container{
        width: 357px;
        margin: 0 auto;
    }
    nav{
        padding: 12px 0;    
    }
    .nav-links,.nav-button,nav span{
        display: none;
    }
    .ham-icon i{
        font-size: 36px;
        cursor: pointer;
    }
    .ham-icon li{
        list-style: none;
    }
    .ham-icon a{
        text-decoration: none;
    }
    .banner-container{
        flex-direction: column-reverse;
        gap: 1.25rem;
    }
    .banner-container img{
        width: 100%;
    }
    .banner-description{
        text-align: center;
    }
    .banner-description h2{
        font-size: 2rem;
    }
    .banner-description p{
        font-size: 1.10rem;
    }
    .banner-description button{
        font-size: 16px;
        width: 130px;
    }
}
@media screen and (min-width:576px){
    .ham-icon{
        display: none;
    }
}
